<div class="home">
  <div class="medecin-list">
    <h2>Êtes-vous certain de vouloir supprimer ce Médecin?</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Prénom</th>
          <th>Nom</th>
          <th>Spécialité</th>
          <th>Années d'expérience</th>
          <th>ID du Service</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ medecin.idmedecin }}</td>
          <td>{{ medecin.prenom }}</td>
          <td>{{ medecin.nom }}</td>
          <td>{{ medecin.specialite }}</td>
          <td>{{ medecin.anneesexperience }}</td>
          <td>{{ medecin.idservice }}</td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-primary suppress" (click)="supprimerMedecin()" [routerLink]="'/display'">Supprimer</button>
    <button type="button" class="btn btn-primary return" [routerLink]="'/display'">Retour à la liste des médecins</button>
  </div>
</div>