<div>
  <nav class="navbar navbar-dark bg-dark main-nav">
    <a class="navbar-brand title" href="/" matTooltip="Retournez à l'accueil">INF3710 - TP4</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/insert" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Ajouter</a>
        <a class="nav-item nav-link" routerLink="/modify/-1" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Modifier</a>
        <a class="nav-item nav-link" routerLink="/delete/-1" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Supprimer</a>
      </div>
    </div>
  </nav>

  <div class="home" *ngIf="route == ''">
    <p>
      Centre de gestion des Médecins
    </p>
    <button mat-raised-button color="primary" class="btn" routerLink="/display">Afficher les médecins!<mat-icon>arrow_right</mat-icon></button>
  </div>
  <router-outlet></router-outlet>
</div>
