<div class="home">
  <div class="medecin-list">
    <h2>Liste des Médecins</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Prénom</th>
          <th>Nom</th>
          <th>Spécialité</th>
          <th>Années d'expérience</th>
          <th>ID du Service</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ medecins[0].idMedecin }}</td>
          <td>{{ medecins[0].prenom }}</td>
          <td>{{ medecins[0].nom }}</td>
          <td>{{ medecins[0].specialite }}</td>
          <td>{{ medecins[0].anneesExperience }}</td>
          <td>{{ medecins[0].idService }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
